@import 'tailwindcss';

@font-face {
	font-family: 'Antonio';
	font-style: normal;
	font-weight: 500;

	src: url('/fonts/Antonio/Antonio-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Spartan';
	font-style: normal;
	font-weight: 400;

	src: url('/fonts/Spartan/Spartan-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Spartan';
	font-style: normal;
	font-weight: 700;

	src: url('/fonts/Spartan/Spartan-Bold.ttf') format('truetype');
}

@theme {
	--color-*: initial;
	--color-black: #000000;
	--color-darkblue: #070724;
	--color-white: #ffffff;

	--font-*: initial;
	--font-antonio: 'Antonio', sans-serif;
	--font-spartan: 'Spartan', sans-serif;
}
